{% extends "global/Page.html" %}
{% load otree %}

{% block title %} {% endblock %}

{% block content %}

You are invited to take part in a study named Attitudes and Evaluations. The study is designed to learn more about how the
way in which we view different stimuli or perform different tasks is affected by and/or affects our evaluations, motivations,
and behaviors. It is being conducted by Diego Reinero who is the principal investigator, as part of his doctoral training. The
faculty sponsor of this work is Dr. Jay Van Bavel, Department of Psychology.
If you agree to be in this study, you will be asked to judge a series of different stimuli or perform different behavioral tasks.
For some participants, we will also be collecting physiological or neural measures (e.g. skin conductance, EEG) in addition to
the behavioral measures. We may also be collecting audio or video footage of your session as you complete the study. You
may review these recordings and request that all or any portion of the recordings in which you appear be destroyed. For
some participants, participation will take about 30 minutes, and for others about 60 minutes. You will be paid between $5-$10
for completing this study. If you withdraw before the end of the study, you will receive payment for the time you have
completed.
<div>&nbsp;</div>
There may be some minimal risks associated with the non-invasive assessment of physiological or neural responses, for
example, skin conductance or EEG. These procedures do not cause pain and simply record bodily signals. In the unlikely
event that skin irritation occurs, we will ensure that you receive appropriate medical attention. Although you will receive no
direct benefits for participation in this study, it may make you more aware of how knowledge is discovered in psychology and
help the investigator better understand the flexibility of attitudes and evaluations.
<div>&nbsp;</div>
Taking part in this study is voluntary. Not taking part or withdrawing after the study has begun will not affect your grade or
academic standing in any way. You have the right to skip or not answer any questions you prefer not to answer. When you
complete the study, a thorough verbal and written explanation of it will be provided.
<div>&nbsp;</div>
Confidentiality of your research records will be strictly maintained by not collecting any identifying information or by using
random codes. The data from the study will be kept at least until 5 years after publication, as recommended by the American
Psychological Association. When it is destroyed, this will be done by deleting all files and/or shredding any documentation.
Information not containing identifiers may be used in future research or shared with other researchers without your additional
consent.
<div>&nbsp;</div>
The researcher cannot keep information confidential if they have concerns that someone is hurting children, that someone is
hurting you, or that you might hurt yourself or someone else. In such cases, they will inform people in authority about their
concerns.
<div>&nbsp;</div>
If there is anything about the study or taking part in it that is unclear or that you do not understand, if you have questions or
wish to report a research-related problem, you may contact the principal investigator, Diego Reinero, at 609-651-7181,
diego.reinero@nyu.edu, 6 Washington Place, New York, NY 10003, or the faculty sponsor, Prof. Jay Van Bavel, at 212- 992-
9267, jay.vanbavel@nyu.edu, 6 Washington Place, New York, NY 10003. For questions about your rights as a research
participant, you may contact the University Committee on Activities Involving Human Subjects (UCAIHS), NYU, (212) 998-
4808 or ask.humansubjects@nyu.edu, 665 Broadway, Suite 804, New York, NY 10012.
<div>&nbsp;</div>
By clicking Next you agree to participate. 
<div>&nbsp;</div>
{% next_button %}

{% endblock %}
