{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Welcome! {% endblock %}

{% block content %}

In this experiment we are studying moral judgments and discussions about morally charged events. You will be exposed to a mixture of pictures, videos and short texts. You will make moral judgements on the situations by answering some questions and discuss them with a parter. 
<div>&nbsp;</div>
In each trial you will watch a video, answer a question, discuss the video with each other, and then rewatch the video and give individual judgements again. 
<div>&nbsp;</div>
On the next page you will be asked to click on a video link that connects you to your partner and the experimenter. 
<div>&nbsp;</div>
Please click Next when you are ready to begin the experiment. 
<div>&nbsp;</div>
{% next_button %}

{% endblock %}
