{% extends "global/Page.html" %}
{% load otree %}

{% block title %} {% endblock %}

{% block content %}

Please attend to the following image.
<div>&nbsp;</div>
<img src="{% static "my_folder/09.png" %}"/> 
<div>&nbsp;</div>
Click Next when you are done.


<div>&nbsp;</div>
{% next_button %}

<div>&nbsp;</div>
If at any point you have a question, raise your hand by clicking on the icon labeled "Participants" at the bottom center of your Zoom screen. Then, click the button labeled "Raise Hand." 
<div>&nbsp;</div>

{% endblock %}
