{% extends "global/Page.html" %}
{% load otree %}

{% block title %} {% endblock %}

{% block content %}

Please watch the following video.
<div>&nbsp;</div>
<iframe width="966" height="605" src="https://www.youtube.com/embed/B-tjtS1iEN0?list=PLKoOy1dj16PDoZLXsLpvE_SFt_bzaVJL0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
Click Next once you have finished watching.

<div>&nbsp;</div>
{% next_button %}

<div>&nbsp;</div>
If at any point you have a question, raise your hand by clicking on the icon labeled "Participants" at the bottom center of your Zoom screen. Then, click the button labeled "Raise Hand." 
<div>&nbsp;</div>

{% endblock %}
